.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  width: 400px;
  margin: auto;
}

.grid-item {
  background-color: #ddd;
  border: 1px solid #999;
  padding: 20px;
  text-align: center;
  align-items: center;
}
